<!-- Modal to create project -->
{% import 'layouts/macros.html' as BASE_BUILDER %}
{% macro add_project_modal() %}
    <div id="add_new_project" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POSt">
                        <div class="form-group">
                            {{ BASE_BUILDER.mcube_input_builder(id="project_name", label_text="Name:", input_type="text", placeholder="name", required=true) }}
                        </div>
                        <div class="form-group">
                            {{ BASE_BUILDER.mcube_input_builder(id="description", label_text="Description:", input_type="text", placeholder="description", required=true) }}
                        </div>
                        <div class="form-group">
                            {{ BASE_BUILDER.mcube_btn_builder(btn_id='add_project_btn', btn_color='btn btn-primary', btn_text='Add Project', btn_type='submit') }}
                        </div>
                        <div class="modal-footer">
                            {{ BASE_BUILDER.mcube_btn_builder(btn_id='', btn_color='btn btn-secondary', btn_text='Close', btn_type='button', modal_dismiss=true) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}