<!-- Macro to create Button -->
{% macro mcube_btn_builder(btn_id='', btn_color='', btn_text='', target='', btn_link='#', btn_type='button', btn_class="", entity_unique_id="", modal=false, link=false, modal_dismiss=false) %}
<a type="{{ btn_type }}" class="{{ btn_color }} {{ btn_class }} px-3 py-2" id="{{ btn_id }}"
{% if modal %}
    data-toggle="modal"
    data-target="#{{ target }}"
    data-entity_unique_id="{{ entity_unique_id }}"
{% endif %}
{% if link %}
    href="{{ btn_link }}"
{% endif %}
{% if modal_dismiss %}
    data-dismiss="modal"
{% endif %}
>{{ btn_text }}
</a>    
{% endmacro %}
<!-- Macro to create input -->
{% macro mcube_input_builder(id="", label_text="", input_type="text", placeholder="", value="", invalid_msg="", required=false) %}
    <label for="{{ id }}">{{ label_text }}</label>
    <input type="{{ input_type }}" id="{{ id }}" class="form-control" name="{{ id }}" value="{{ value }}" placeholder="{{ placeholder }}" {% if required %} required="1" {% endif %}>
    <div class="invalid-feedback">{{ invalid_msg }}</div>
{% endmacro %}
<!-- Macro to create modify buttons -->
{% macro datatable_btn_builder_generic(entity_name='', entity_unique_id='') %}
    <div class="d-flex">
        {{ mcube_btn_builder(btn_id='', btn_color="btn-mcube-009290", btn_class='update-entity mr-2', btn_text='Update', entity_unique_id=entity_unique_id, target='update_'+entity_name, modal=true, modal_dismiss=false) }}
        {{ mcube_btn_builder(btn_id='', btn_color="btn-mcube-a21107", btn_class='delete-entity', btn_text='Delete', entity_unique_id=entity_unique_id, target='delete_'+entity_name, modal=true, modal_dismiss=false) }}
    </div>
{% endmacro %}
<!-- Default back button macro  -->
{% macro default_back_btn() %}
<div class="d-flex m-3">
    <img src="{{ url_for('static', filename='images/arrow-left.svg') }}" alt="Back Button">
    <a href="{{ url_for('home') }}" class="text-mcube-0f7a79 text-decoration-none pl-2">Home</a>
</div>
{% endmacro %}